body {
    min-height: 100vh;
    background-color: #f3e1e7;
    color: rgb(248, 123, 223);
    font-family: Verdana;
    margin: 0;
    padding: 0;
  }
  
  h2, h1, p {
    text-align: center;
    margin: 0;
  }
  
  h1 {
    font-weight: 700;
    font-size: 50px;
  }
  
  p {
    font-size: 30px;
    font-weight: bold;
  }
  
  .actions {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .actions button {
    padding: 8px 16px;
    font-size: 30px;
    border-radius: 10px;
    background-color: #ae27a5;
    color: white;
    border: none;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    grid-gap: 16px;
    justify-content: center;
    align-content: center;
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box; /* Ensure padding is included in the element's total width/height */
    margin: 0 auto; /* Center the container horizontally */
  }
  
  .card {
    height: 140px;
    width: 140px;
    border-radius: 10px;
    background-color: white;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
  }
  
  .card.flipped {
    transform: rotateY(180deg);
  }
  
  .front, .back {
    backface-visibility: hidden;
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card .front {
    transform: rotateY(180deg);
  }
  
  .card .back {
    background-image: url("images/takeabreak.png");
    background-position: center;
    background-size: cover;
  }
  
  .front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .container { 
    text-align: center;
  }
  